// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
$red: #f24e63;
// $blue: #469AE0;
$blue: #3EAEFF;
$blue-hover: #2E9EEF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$light-gray: #F4F4F4;

$primary: #05668D;
$secondary: #513B8C;
$accent: #FFA400;
$white: #fefefe;
$black: #1D1B1C;
$gray: #565155;
$btn-gradient: linear-gradient(-180deg,#3EAEFF,#1E8EDF 90%);
$btn-gradient-hover: linear-gradient(-180deg,#1E8EDF,#0E7ECF 90%);
