// Specific CSS for your home-page

#title-home h4{
 color: white;
 text-shadow: 1px 1px #444444;
}
#title-home h1 {
  font-size: 100px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: Russo One;
  color: #FFBA09;
  text-shadow: 2px 2px #ff0000;
}
