.mapbox-directions-instructions-wrapper{
  max-height: 5%;
  max-height: 20vh !important;
}
.mapbox-directions-instructions-wrapper {
    max-height: 50vh;
}

// .directions-control, .directions-control-directions {
//   max-height: 20vh !important;
//   box-sizing: border-box;
// }
// .mapboxgl-ctrl-top-left {
//   // position: absolute;
//   pointer-events: none;
//   z-index: 2;
// }

// .mapboxgl-ctrl-directions, .mapboxgl-ctrl{
//   margin: 10px 0 0 10px;
//   width: 33.33333%;
//   min-width: 300px;
//   max-width: 300px;
//   font-size: 10px;
//   //webkit-tap-highlight-color: transparent;

// }



