.map-placeholder {
  background-color: gray;
  height: 40vh;
  margin-top: 2vh;
}
.steps-form {
  margin-top: 2vh;
}
// fixing the sliding scroll number
.slider.slider-horizontal .tooltip {
    transform: translateX(0) !important;
}
.tooltip.top .tooltip-arrow {
  display: none;
  list-style: none;
}
.form-card li {
  // list-style: none;
  padding-left: none;
  padding-top: 8px;
}
.form-card ul {
  padding-inline-start: 0;
}
.form-card a {
  text-decoration: none;
  color: $black;
  white-space: nowrap;
}
.route-delete {
  margin-right: 20px;
}
.btn-routes-index {
  width: 100%;
  display: flex;
  margin-top: 3vh;
  justify-content: space-between;
  color: white !important;
}
.btn-routes {
  width: 100%;
  display: flex;
  margin-top: 3vh;
  justify-content: flex-end;
  color: white !important;
}
.routes-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form-btn {
  margin-top: 10px;
  border-radius: 5px;
  // min-width: 157px;
}
#range-pos {
 // width: 60px;

}
#show_radius {
  width: 24px;
  border: none;

}
.flex-container {
  display: flex;
  justify-content: center;
}

.btn-blue-outline {
  border-radius: 5px;
  border: 1px solid #569CFC;
  background-color: white;
  color: #569CFC
}
