.map-placeholder {
  background-color: gray;
  height: 40vh;
  margin-top: 2vh;
}

.steps-form {
  margin-top: 2vh;
}

// fixing the sliding scroll number
.slider.slider-horizontal .tooltip {
    transform: translateX(0) !important;
}
.tooltip.top .tooltip-arrow {
  display: none;
  list-style: none;
}

.form-card li {
  // list-style: none;
  padding-left: none;
}

.form-card ul {
  padding-inline-start: 0;
}

.form-card a {
  text-decoration: none;
  color: $black;
  white-space: nowrap;
}

.route-delete {
  margin-left: 50px;
}

.btn-routes-index {
  width: 100%;
  display: flex;
  margin-top: 12vh;
  justify-content: flex-end;
}
