.map-placeholder {
  background-color: gray;
  height: 40vh;
  margin-top: 2vh;
}

.steps-form {
  margin-top: 2vh;
}

// fixing the sliding scroll number
.slider.slider-horizontal .tooltip {
    transform: translateX(0) !important;
}
.tooltip.top .tooltip-arrow {
  display: none;
}

