<div id="mapNav"
  style="width: 100vw;
  height: 90vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" >
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
<div class="finish button">
  <%= link_to "End Navigation", edit_delivery_path(@delivery), class: "btn btn-primary form-btn", style: "width:100%;"  %>
</div>
</div>
</div>
