<h2>Pending requests</h2>



<% @requests.each do |request| %>
  <div class="card">
    <div class="card-top" style="background-image: url('<%= image_url "logo.jpg" %>');background-size: cover;">

      <div class="card-info">
        <p><%= request.delivery_address %></p>
        <p><%= request.phone_number %></p>
        <p>size: <%= request.size %></p>
      </div>
</div>
  </div>
<% end %>



<!--
<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
COPY
 -->
