<div class=" wrapper-about-flex">
  <div class="row">
    <div class="col-xs-5">
      <%= image_tag "kali.png", id: "team-image" %>
    </div>
    <div class="col-xs-7">
      <h4>Khaled Al-Ammari</h4>
      <p>10 km work commute</p>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= image_tag "Christian.jpeg", id: "team-image" %>
    </div>
    <div class="col-xs-7">
      <h4>Christian Uhmann</h4>
      <p>10 km work commute</p>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= image_tag "ezgi.jpg", id: "team-image" %>
    </div>
    <div class="col-xs-7">
      <h4>Ezgi Seyis</h4>
      <p>10 km work commute</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <%= image_tag "Timo.jpg", id: "team-image" %>
    </div>
    <div class="col-xs-7">
      <h4>Timo Piechotta</h4>
      <p>10 km work commute</p>
    </div>
  </div>
</div>

<div class="container about-text-wrapper text-center">
  <h1>About Us</h1>
  <p>We are MediaMarktSaturn Technology employees who had the opportunity to do Le Wagon Coding Bootcamp, beginning 03 November 2018. This app, from the idea to the final product, was done by us!
  </p>
</div>
