<div class="container text-center">
  <h1>About Us</h1>
  <p>We are MediaMarktSaturn Technology employees who had the opportunity to do Le Wagon Coding Bootcamp, beginning 03 November 2018. This app, from the idea to the final product, was done by us!
  </p>
</div>

<div class="container text-center about-bottom">
  <div class="row">
    <div class="col-12">
      <h3>Khaled Al-Ammari</h3>
      <div>
        <%= image_tag "kali.png",  width:"250" %>
      </div>

    </div>
    <div class="col-12">
      <h3>Christian Uhmann</h3>
      <div>
        <%= image_tag "Christian.jpeg",  width:"250" %>
      </div>

    </div>
    <div class="col-12">
      <h3>Ezgi Seyis</h3>
      <div>
        <%= image_tag "ezgi.jpg",  width:"250" %>
      </div>

    </div>
    <div class="col-12">
      <h3>Timo Piechotta</h3>
      <div>
        <%= image_tag "Timo.jpg",  width:"250" %>
      </div>
    </div>
  </div>
</div>



