<div class="wrapper-home howto">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div id="hero">
          <video playsinline autoplay muted loop poster="../../assets/placeholder.png" id="bgvideo" width="x" height="y">
            <source src="https://res.cloudinary.com/dvxyqhn8o/video/upload/v1549652848/deliverado-3.mp4" type="video/mp4"">

              <!-- <source src="https://res.cloudinary.com/dvxyqhn8o/video/upload/v1549739759/deliverado-berlin.mp4" type="video/mp4"> -->
              </video>

              <h1>What Is Deliverado?</h1>
              <h4>Deliverado is a shuttle service for goods, purchased from the Media Markt and Saturn e-shops, with the focus on same-day delivery!
              </h4>

              <h4>For the delivery of the goods mainly the daily commuter traffic is used to use synergies, to save costs and to protect the environment.</h4>
              <br>
              <div class="howto-button">
                <%= link_to "Back to Mainpage", root_path, class: "btn btn-primary" %>
              </div>
            </div>

            <h1>How It Works</h1>

            <div class="howto-left">
              <ul>
                <li><h4>Potential deliverers register and define their (commuter-) route(s) and tolerable deviation radius.</h4></li>
                <li><h4>A customer buys a product in the e-shop and starts a delivery request at Deliverado. He/ She also specifies a delivery time slot.</h4></li>
                <li><h4>Registered deliverers receive a notification (depending on their set routes and radius) and can decide whether to accept the order.</h4></li>
                <li><h4>The app should also allow a chat between the deliverer and the customer (e.g. to agree on a different time slot).</h4></li>
                <li><h4>Upon delivery, the customer signs on the phone or tablet of the deliverer to confirm receipt.</h4></li>
                <li><h4>Incentives for deliverers provided through financial compensation, bonus system, coupons, social networks linkage, badges ("gamification"), etc. ...</h4></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

