<div class="wrapper-home">
  <div id="title-home" class='text-center'>
    <h1>deliverado</h1>
    <h4>The eco-friendly delivery <br> service for your goods!</h4>
  </div>
  <!-- Login link (when logged out) -->
    <div id="login">
      <div class="col-md-4 text-center" >
        <div class="form-actions">
          <% if user_signed_in? %>
           <%= link_to "dfg", requests_path, class: "btn btn-home btn-primary" %>
          <% else  %>
            <%= link_to t(".sign_in", default: "Login" ),  new_user_session_path, class: "btn btn-home" %>
         <% end %>
        </div>
        <a href="/users/sign_up"Sign up></a>
      </div>
    </div>
</div>
