<div class="wrapper-home">
  <div id="hero">
    <video playsinline autoplay muted loop poster="../../assets/placeholder.png" id="bgvideo" width="x" height="y">
      <source src="https://res.cloudinary.com/dvxyqhn8o/video/upload/v1549946368/Traffic_-_243_1.mp4">
        <!-- <source src="https://res.cloudinary.com/dvxyqhn8o/video/upload/v1549652848/deliverado-3.mp4" type="video/mp4"> -->
          <!-- <source src="https://res.cloudinary.com/dvxyqhn8o/video/upload/v1549652845/deliverado-1.mp4" type="video/mp4"> -->
            <!-- <source src="https://res.cloudinary.com/dvxyqhn8o/video/upload/v1549739759/deliverado-berlin.mp4" type="video/mp4"> -->
    </video>
    <div id="title-home" class='text-center'>
      <h1>deliverado</h1>
      <p id="tagline">The eco-friendly same day delivery service! </p>
    </div>
            <!-- Login link (when logged out) -->
    <div id="login">
      <div class="col-md-4 text-center" >
        <div class="form-actions">
          <% if user_signed_in? %>
          <%= link_to "See requests", requests_path, class: "btn btn-home btn-primary" %>
          <% else  %>
          <%= link_to t(".sign_in", default: "Login" ),  new_user_session_path, class: "btn btn-home faa-horizontal animated" %>
          <% end %>
         <!-- <div class="row">
            <%#= link_to "About deliverado", about_path, class: "btn btn-home-about" %>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-xs-12 col-md-6">
    <div class="home-icon" id="register-icon">
     <h4>1. Register as a driver</h4>
   </div>
  </div>
 <div class="col-xs-12 col-md-6">
  <div class="home-icon" id="route-icon">
    <h4>2. Enter your commuter routes</h4>
  </div>
</div>
  <div class="col-xs-12 col-md-6">
    <div class="home-icon" id="order-icon">
      <h4>3. Select a delivery request</h4>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="home-icon" id="money-icon">
      <h4>4. Earn money with every delivery</h4>
    </div>
  </div>
</div>

</div>
<!-- slow down the video -->
<script>
 var vid = document.getElementById("bgvideo");
 vid.playbackRate = 0.4;
</script>


