<div class="wrapper-home">
  <div id="hero">
    <video playsinline autoplay muted loop poster="../../assets/placeholder.png" id="bgvideo">
      <source src="https://res.cloudinary.com/dvxyqhn8o/video/upload/v1549946368/Traffic_-_243_1.mp4">
    </video>
    <div id="title-home" class='text-center'>
      <h1>deliverado</h1>
      <p id="tagline">The commuter<br>delivery service! </p>
    </div>            <!-- Login link (when logged out) -->
    <div class="login">
      <div class="col-md-4 text-center" >
        <div class="form-actions">
          <% if user_signed_in? %>
          <%= link_to "Let's go", requests_path, class: "btn btn-home btn-primary" %>
          <% else  %>
          <%= link_to t(".sign_in", default: "Let's go" ),  new_user_session_path, class: "btn btn-home" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

 <div class="col-xs-12 col-md-6">
  <div class="home-icon" id="eco-icon">
    <h3>Less delivery traffic</h3>
  </div>
</div>
  <div class="col-xs-12 col-md-6">
    <div class="home-icon" id="speed-icon">
      <h3>Fast same day delivery</h3>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="home-icon" id="money-icon">
      <h3>Attractive for drivers</h3>
    </div>
  </div>
</div>
<br>
<%= link_to "Back up", root_path(anchor: 'hero'), class: "btn btn-home one-button btn-primary" %>
</div>
    <div class="login">
      <div class="col-md-4 text-center" >
         <div class="row">
          <br>
            <%= link_to "Privacy Policy", about_path, style:"color:white;" %>
          </div>
      </div>
    </div>
  </div>
<!-- slows down the video -->
<script>
 var vid = document.getElementById("bgvideo");
 vid.playbackRate = 0.7;
</script>
