<h2> step_1.html.erb</h2>
<%= form_for :route, url: { action: "step_2"}, method: :get do |f| %>

<div class="form-inputs">
<%= f.text_field :start_address %>
<%#= f.input :end_address %>
<%#= f.input :delivery_radius %>

 </div>
<%#= f.hidden_field :start_address, value: params[:start_address] %>
<div class="form-actions">
<%= f.submit class: "btn full_btn"%>
</div>
<% end %>

