/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-notice {
  background: $green;
}
.alert-warning {
  background: $red;
}

.alert-info {
  background: $white;
  color: $blue;
  border-radius: 0 0 10px 10px;
  border-color: $blue;

}
