.btn-sec {
  border-radius: 2px;
  border: 1px solid $blue;
  background-color: white;
  color: $blue;
}


 .btn-sec:visited {
    color: $blue-sec !important;
  }

.go_back {
  padding: 7px 7px;
  // margin-left: -74px;
}
.start_navigation {
  padding: 7px 7px;
  // margin-right: -74px;
}
// .accept {
//   padding: 7px 7px;
//   margin-right: -74px;
// }
// .decline {
//   padding: 7px 7px;
//   margin-right: -74px;
// }
.btn-accept_decline_button {
  width: 100%;
  display: flex;
  margin-top: 3vh;
  justify-content: space-between;
  color: white !important;
}
