.btn-sec {
  color: white;
  background-color: #9CA3AC;
}
.go_back {
  padding: 7px 7px;
  margin-left: -74px;
}
.start_navigation {
  padding: 7px 7px;
  margin-right: -74px;
}
.accept {
  padding: 7px 7px;
  margin-right: -74px;
}
.decline {
  padding: 7px 7px;
  margin-right: -74px;
}
