.card-route-edit{
  max-width: 400px;
  margin-top: 5px;
  overflow: hidden;
  max-height: 280px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  line-height: 0.5em;
  padding: 5px;
  font-size: small;
  //display: flex;
  //align-items: center;
}
