.card-mediamarkt {
  margin: 0px;
  // border: solid grey 6px;
  box-shadow: 4px 4px 15px -2px rgba(143,143,143,0.53);
  width: 100%;
  max-width: 385px;
  background-color: white;
}
@media(min-width: 1024px){
  .card-mediamarkt {
    margin: 0 auto;
  }
}

.logo {
  height: 80px;
  margin: 5px;
}

.card-info {
  color: black;
  position: relative;
  height: 165px;
}

.size-m {
  font-size: 22px;
}

.size-l {
  font-size: 28px;
}

.paket {
  position: absolute;
  bottom: 30px;
  right: 15px;
}

#address{
  position: absolute;
  bottom: 20px;
  left: 15px;
}

#store-address {
  position: absolute;
  left: 15px;
  font-style: italic;
}

#card-name {
  position: absolute;
  bottom: 45px;
  left: 15px;
}

.card-saturn {
  background-color: white;
  margin: 0px;
  // border: solid grey 6px;
  box-shadow: 4px 4px 15px -2px rgba(143,143,143,0.53);
  width: 100%;
  max-width: 385px;

    .card-info {
    color: black;
    position: relative;
    height: 165px;
    }


}
@media(min-width: 1024px){
  .card-saturn {
    margin: 0 auto;
  }
}

.green {
  border: 5px solid $green;
  margin-bottom: 5px;
}

.red {
  border: 5px solid $red;
  margin-bottom: 5px;
}
