.card {
  margin: 0px;
  // border: solid grey 6px;
  box-shadow: 4px 4px 15px -2px rgba(143,143,143,0.53);
  width: 100%;
  max-width: 385px;
}
@media(min-width: 1024px){
  .card {
    margin: 0 auto;
  }
}

.logo {
  height: 80px;
  margin: 5px;
}

.card-info {
  color: #fb0022;
  text-shadow: 2px 3px 2px rgba(102,102,102,0.25);
  position: relative;
  height: 165px;
}

.size-m {
  font-size: 22px;
}

.size-l {
  font-size: 28px;
}

.paket {
  position: absolute;
  top: 15px;
  right: 15px;
}

#address{
  position: absolute;
  bottom: 20px;
  left: 15px;
}
