.map_request_show {
  height: 250px;
}

.map_steps {
  height: 40vh;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.15);
}

.map_routes {
  height: 400px;
}
.mapbox {
  max-height: 20vh !important;
  box-sizing: border-box;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 13px;
}

// .mapboxgl-popup-close-button {
//   display: none;
// }
