.edit_delivery {
  min-height: inherit;
}

#signature-canvas {
  height: 80vh;
  // max-width: 95vw;
  max-height: 80px;
  min-height: 80vh;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 6vh;
  width: 100vw;
}
#update {
 margin: 0px auto;
}

#JohnHancock-canvas {
  min-height: inherit;
  height: 80vh;
  max-height: inherit;
  width: 100% !important;
}
