#JohnHancock-canvas {
  height: 100% !important;
  width: 100% !important;
}

#signature-canvas {
  font-size: 10px;
  max-width: 300px;
  max-height: 250px;
  border: 1px solid;
  border-radius: 4px;
  margin: 30px auto;
}

#update {
 margin: 0px auto;
}
