<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
    <div class="form-card">
      <div class="form-banner ">Your current routes:</div>

      <% @routes.each do |route| %>
      <ol>
        <%= link_to route_path(route) do %>
        <li><h4><%= route.name %><%= link_to "", route_path(route.id), method: 'delete', class: 'far fa-trash-alt' %></h4></li>
        <% end %>
      <% end %>
      </ol>

    </div>
  </div>
</div>
