<div class="container">
  <div class="row">
    <p>Your current routes</p>
    <% @routes.each do |route| %>
    <%= link_to route_path(route) do %>
    <div class="col-xs-12">
      <div class="route-card-small">
        <div class="route-card-name"><%= route.name %>
        </div>
        <div class="route-card-info">
          <i> <%= link_to "Details", route_path(route.id), class: 'fas fa-info-circle' %> </i>
          <i> <%= link_to "Delete", route_path(route.id), method: 'delete', class: 'far fa-trash-alt' %> </i>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>